
<!DOCTYPE html>
<html lang="id">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="csrf-token" content="TfJocSVsNWexYkZykdGKFNETBWgfhhwgDKRHCJNu">

        <title>KIP Kuliah | Login Siswa</title>
        <link rel="icon" type="image/ico" href="https://kip-kuliah.kemdikbud.go.id/img/logo.png">

        <link rel="stylesheet" href="https://kip-kuliah.kemdikbud.go.id/css/app.css">
        <link href="https://kip-kuliah.kemdikbud.go.id/css/style.css?v=1.2" rel="stylesheet">
        
        <script src="https://kip-kuliah.kemdikbud.go.id/lib/jquery/dist/jquery.min.js"></script>
        
        <link href="https://kip-kuliah.kemdikbud.go.id/css/icons.css" rel="stylesheet">
    </head>
    <body class="bg-light" style="height: auto;background-image:url(https://kip-kuliah.kemdikbud.go.id/img/bg-3.jpg);">
        <div id="app" class="misc-wrapper">
            <div class="misc-content" >
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center mb-3">
                <a href="/" title="Kembali ke Dashboard">
                    <img alt="" src="https://kip-kuliah.kemdikbud.go.id/img/logo.png" class="logo-icon margin-r-10"> 
                </a>
                <h3>KARTU INDONESIA PINTAR KULIAH</h3>
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="misc-box">
                                        <form id="main-form" role="form" method="POST" action="https://kip-kuliah.kemdikbud.go.id/siswa/auth/login">
                        <input type="hidden" name="_token" value="TfJocSVsNWexYkZykdGKFNETBWgfhhwgDKRHCJNu">                        <div class="form-group">
                            <label for="no_pendaftaran">No. Pendaftaran</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1"><i class="fas fa-user"></i> </span>
                                </div>
                                <input id="no_pendaftaran" name="no_pendaftaran" type="text" value="" placeholder="No. Pendaftaran" class="form-control " required>
                                <!--<span class="icon-user text-muted icon-input"></span>-->
                            </div>
                                                    </div>
                        <div class="form-group">
                            <label for="kode_akses">Kode Akses</label>
                            <div class="input-group" id="show_hide_password">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1"><i class="fas fa-key"></i> </span>
                                </div>
                                <input id="kode_akses" name="kode_akses" type="password" placeholder="Kode Akses" class="form-control " required>
                                <div class="input-group-append">
                                    <button class="input-group-text" type="button"><i class="fa fa-eye-slash" aria-hidden="true"></i></button>
                                </div>
                            </div>
                                                    </div>
                        <div class="clearfix">
                            <div class="text-center">
                                <button type="submit" class="btn btn-flat btn-primary btn-block"><i class="fas fa-sign-in-alt"></i> Masuk</button>
                            </div>
                        </div>
                        <hr> 
                        <div class="text-center">Belum punya akun? <a href="https://kip-kuliah.kemdikbud.go.id/siswa/pendaftaran/baru">Daftar</a></div>
                    </form>
                </div>
                <div class="text-center misc-footer">
                    					<p class="small">
						Copyright &copy; 2020 | Kartu Indonesia Pintar Kuliah oleh Kemdikbud
                    </p>
                    				</div>
            </div>
        </div>
    </div>
</div>
        </div>

        <script src="https://kip-kuliah.kemdikbud.go.id/lib/bootstrap/js/popper.min.js">
        </script>
        <script src="https://kip-kuliah.kemdikbud.go.id/lib/bootstrap/js/bootstrap.min.js">
        </script>
        <script src="https://kip-kuliah.kemdikbud.go.id/lib/ace-menu/ace-responsive-menu-min.js">
        </script>
        <script src="https://kip-kuliah.kemdikbud.go.id/lib/pace/pace.min.js">
        </script>
        <script src="https://kip-kuliah.kemdikbud.go.id/lib/jasny-bootstrap/js/jasny-bootstrap.min.js">
        </script>
        <script src="https://kip-kuliah.kemdikbud.go.id/lib/slimscroll/jquery.slimscroll.min.js">
        </script>
        <script src="https://kip-kuliah.kemdikbud.go.id/lib/nano-scroll/jquery.nanoscroller.min.js">
        </script>
        <script src="https://kip-kuliah.kemdikbud.go.id/lib/metisMenu/metisMenu.min.js">
        </script>
        <!-- Scripts -->
        <script src="" defer>
        </script>
        <script src="/js/app.js"></script>
        <script src="https://kip-kuliah.kemdikbud.go.id/lib/jquery-validate/jquery.validate.min.js"></script>
<script src="https://kip-kuliah.kemdikbud.go.id/lib/select2/js/select2.min.js"></script>
<script src="https://kip-kuliah.kemdikbud.go.id/js/kipk.js"></script>
<script src="https://kip-kuliah.kemdikbud.go.id/js/custom.js?v=1.1" defer></script>
<script>
    $(document).ready(function() {
        $("#show_hide_password button").on('click', function(event) {
            event.preventDefault();
            if($('#show_hide_password input').attr("type") == "text"){
                $('#show_hide_password input').attr('type', 'password');
                $('#show_hide_password i').addClass( "fa-eye-slash" );
                $('#show_hide_password i').removeClass( "fa-eye" );
            }else if($('#show_hide_password input').attr("type") == "password"){
                $('#show_hide_password input').attr('type', 'text');
                $('#show_hide_password i').removeClass( "fa-eye-slash" );
                $('#show_hide_password i').addClass( "fa-eye" );
            }
        });
    });
</script>
        <script src="https://kip-kuliah.kemdikbud.go.id/vendor/sweetalert/sweetalert.all.js"></script>
        </body>
</html>
